ul .listaJuegos{
    list-style-type: none; /* Elimina los estilos de viñetas */
    padding: 0;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

li:last-child {
    border-bottom: none;
}

button {
    background: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background: rgb(193, 17, 25);
}

.width-50 {
    width: 50%;
}